@font-face { font-family: Allura;
             src: url(fonts/allura.ttf);}
			 
@font-face { font-family: ShadowsIntoLightTwo;
             src: url(fonts/ShadowsIntoLightTwo.ttf); }
			  
.header {
  padding: 40px;
  text-align: center;
  background: #F3F2DC;
   
 }

			 
             

body { background-color: #FFFCEF; 
       color: #3B6E99;
	   font-family: helvetica;
	   font-size: 20px
     }
	 
.footer {

   left: 0;
   bottom: 0;
   width: 100%;
   background-color: #6CC1C3;
   text-align: center;
   clear: both;
}

h1 { font-size: 60px;
     font-family:Allura; 
	 text-align: center
    }
	
#silt {font-family: ShadowsIntoLightTwo;
    color: #6CC1C3; }
	
	/* Sample Color palette */
	


.color1, .color2, .color3, .color4  { border:5px solid #fff; 
                                      width:80px; 
									  height:80px; 
									  float: left; 
									  margin-right:10px; 
									  }

.color1 span,.color2 span,.color3 span,.color4 span { background-color:#fff;}

		.color1 { background-color:#6CC1C3; }
		.color2 { background-color:#F3F2DC; }
		.color3 { background-color:#FFFCEF; }
		.color4 { background-color:#3B6E99; }