@font-face { font-family: Allura;
             src: url(fonts/allura.ttf);}

@font-face { font-family: ShadowsIntoLightTwo;
             src: url(fonts/ShadowsIntoLightTwo.ttf); }

header {

            height: 204px;
            width: 100%;
            background-color: #F8F8DF;
            background-position: left;
            background-repeat: no-repeat;
            position: relative;
            text-align: center;
			padding: 10px

 }

 #logo {
   display: block;
   position: absolute;
   background: url("../images/keepItBlue.png") no-repeat;
   background-size: 150% 150%;
   background-position: center;
   z-index: 999;
   left: 40%;
   top: 6px;
   margin-left: -30px;
   width: 300px;
   height: 300px; }
nav ul {
  display: none;
  width: 100%;
  margin-top: 80px; }
  @media screen and (min-width: 768px) {
    nav ul {
      margin-top: 155px; } }
  @media screen and (min-width: 960px) {
    nav ul {
      margin-top: 155px;
      display: inline-block;
      margin-top: 65px;
      padding: 0;
      width: 100%; } }
  nav ul li {
    display: inline-block;
    list-style: none;
    text-transform: uppercase;
    margin-right: 0;
    text-align: center;
    padding: 13px 0 10px 0;
    background-color: #fff;
    width: 100%;
    line-height: 1; }
    nav ul li a {
      display: inline-block;
      width: 100%;
      letter-spacing: 4px; }
      @media screen and (min-width: 0px) {
        nav ul li a {
          font-size: 16px;
          line-height: 24px; } }
      @media screen and (min-width: 768px) {
        nav ul li a {
          font-size: 16px;
          line-height: 24px; } }
      @media screen and (min-width: 960px) {
        nav ul li a {
          font-size: 16px;
          line-height: 24px; } }
      @media screen and (min-width: 1850px) {
        nav ul li a {
          font-size: 16px;
          line-height: 24px; } }
    nav ul li a,
    nav ul li a:active,
    nav ul li a:visited {
      color: #1D1D1B; }
    nav ul li.active {
      background-color: #1D1D1B; }
      nav ul li.active a {
        color: #fff; }
    @media screen and (min-width: 960px) {
      nav ul li {
        position: relative;
        float: left;
        padding: 0;
        border: none; } }
    @media screen and (min-width: 960px) {
      nav ul li#nav-sub-home, nav ul li#nav-sub-work {
        text-align: right;
        width: 20%; } }
    @media screen and (min-width: 960px) {
      nav ul li#nav-sub-home.active:after, nav ul li#nav-sub-work.active:after {
        position: absolute;
        top: 31px;
        right: 23px;
        content: '';
        width: 20px;
        height: 2px;
        background-color: #1D1D1B; } }
    @media screen and (min-width: 960px) {
      nav ul li#nav-sub-shop {
        text-align: center;
        width: 30%; } }
    @media screen and (min-width: 960px) {
      nav ul li#nav-sub-shop.active:after {
        position: absolute;
        top: 31px;
        left: 50%;
        margin-left: -12px;
        content: '';
        width: 20px;
        height: 2px;
        background-color: #1D1D1B; } }
    @media screen and (min-width: 960px) {
      nav ul li#nav-sub-insta {
        text-align: center;
        width: 30%; } }
    @media screen and (min-width: 960px) {
      nav ul li#nav-sub-insta.active:after {
        position: absolute;
        top: 31px;
        left: 50%;
        margin-left: -10px;
        content: '';
        width: 20px;
        height: 2px;
        background-color: #1D1D1B; } }
    @media screen and (min-width: 960px) {
      nav ul li#nav-sub-about {
        text-align: left;
        width: 20%; } }
    @media screen and (min-width: 960px) {
      nav ul li#nav-sub-about.active:after {
        position: absolute;
        top: 31px;
        left: 0px;
        margin-left: 25px;
        content: '';
        width: 20px;
        height: 2px;
        background-color: #1D1D1B; } }
    @media screen and (min-width: 960px) {
      nav ul li:hover a {
        color: #1D1D1B; } }
    @media screen and (min-width: 960px) {
      nav ul li.active {
        background-color: #fff; }
        nav ul li.active a {
          color: #1D1D1B; } }


main { background-color: #FFFFFF;
       color: #0073d1;
	   font-family: helvetica;
	   font-size: 20px
     }


.grid
 {
  display: grid;
  grid-template-columns: repeat(3,250px);  /* 3 columns */
  grid-template-rows: repeat(2,250px); /* 3 rows  */
  grid-gap:10px 10px; /* 50 pixels of space added between rows and 30 pixels added between columns  */
  justify-content: center;
  padding: 20px;
}

.grid-item{

  padding:2px;
}
.grid-image {
  width: 100%;
}
.footer {
   padding: 5px;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: #EEECCC;
   text-align: center;
   clear: both;
}

h1 { font-size: 60px;
     font-family:Allura;
	 text-align: center;
	 color: #7bae58;
    }

#silt {font-family: ShadowsIntoLightTwo;
    color: #6CC1C3; }

	/* Sample Color palette */



.color1, .color2, .color3, .color4  { border:5px solid #fff;
                                      width:80px;
									  height:80px;
									  float: left;
									  margin-right:10px;
									  }

.color1 span,.color2 span,.color3 span,.color4 span { background-color:#fff;}

		.color1 { background-color:#F8F8DF; }
		.color2 { background-color:#0073D1; }
		.color3 { background-color:#7BAE58; }
		.color4 { background-color:#EEECCC; }
